<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>SignUp</h1>
    <form action="/user" method="post">
        <label for="name">Enter your Full Name</label>
        <input type="text" name="name" required>
        <label for="email">Enter Your Email</label>
        <input type="email" name="email" required>
        <label for="passwword">Enter your password</label>
        <input type="password" name="password" required>

        <button type="submit">SignUp</button>

    </form>
  </body>
</html>
